<a href="https://colab.research.google.com/github/artisticdrake/codefun/blob/main/CONUNCON.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [17]:
import pandas as pd
df=pd.read_csv(r'mycsv.csv')
df.head(10)

   Income recreation         job   status       age home      risk
0  medium     skiing      design   single  twenties   no  highrisk
1    high       golf     trading  married   forties  yes   lowrisk
2     low   speedway   transport  married  thirties  yes   medrisk
3  medium   football     banking   single  thirties  yes   lowrisk
4    high     flying       media  married   fifties  yes  highrisk
5     low   football    security   single  twenties   no   medrisk
6  medium       golf       media   single  thirties  yes   medrisk
7  medium       golf   transport  married   forties  yes   lowrisk
8    high     skiing     banking   single  thirties  yes  highrisk
9     low       golf  unemployed  married   forties  yes  highrisk

In [18]:
def uncon():
  for i in df:
   print(i)
  col=int(input("Select the index of the column required\n"))
  nl=[]
  for i in range(len(df)):
    nl.append(df.iloc[i,col])
  nl=list(set(nl))
  print(nl)
  val=int(input("Enter the index of required item\n\n"))
  c=0
  for i in range(len(df)):
    if(df.iloc[i,col]==nl[val]):
      c+=1
  pa=c/len(df)
  print("The unconditional probability of ",nl[val]," is: ",pa)

In [31]:
def con():
  nl=[]
  nl2=[]
  for i in df:
   print(i)
  col=int(input("Select the index of the column required for event A\n"))
  
  for i in range(len(df)):
    nl.append(df.iloc[i,col])
  nl=list(set(nl))
  print(nl)
  val=int(input("Enter the index of required item for event A\n\n"))
  for i in df:
   print(i)
  col2=int(input("Select the index of the column required for event B\n"))
  
  for i in range(len(df)):
    nl2.append(df.iloc[i,col2])
  nl2=list(set(nl2))
  print(nl2)
  val2=int(input("Enter the index of required item for event B\n\n"))
  c2=0
  for i in range(len(df)):
    if(df.iloc[i,col]==nl[val] and df.iloc[i,col2]==nl2[val2]):
      c2+=1
  panb=c2/(len(df)*2)
  #print(panb,c2)
  c3=0
  for i in range(len(df)):
    if(df.iloc[i,col2]==nl2[val2]):
      c3+=1
  pb=c3/len(df)
  pagb=panb/pb
  print("Conditional Probability of ",nl[val]," given ",nl2[val2]," is:\n",pagb)

In [32]:

ch=int(input("Choose\n1. Conditional Probability\n2. Unconditional Probability\n"))
if(ch==1):
  con()
elif(ch==2):
  uncon()
else:
  print("Invalid choice\n")

Choose
1. Conditional Probability
2. Unconditional Probability
1
Income
recreation
job
status
age
home
risk
Select the index of the column required for event A
3
['married', 'single']
Enter the index of required item for event A

1
Income
recreation
job
status
age
home
risk
Select the index of the column required for event B
6
['highrisk', 'lowrisk', 'medrisk']
Enter the index of required item for event B

2
Conditional Probability of  single  given  medrisk  is:
 0.33333333333333337